.footer {
    z-index: 7;
    min-height: 18vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #2f2439;
    position: relative;
    justify-self: flex-end;

    &__hills {
        width: 100%;
        min-height: 19vh;
        position: absolute;
        top: -7vh;
        z-index: 10;
        background: url('@assets/pattern-hills.svg') no-repeat;
        background-size: cover;
        background-position-x: calc(100% + 100px);
    }

    &__icons {
        position: absolute;
        z-index: 11;
        width: 100%;
        top: 50px;
        display: flex;
        justify-content: center;
        gap: 30px;
    }

}

@media (min-width: 500px) {

    .footer {
        &__hills {
            background-position-x: 100%;
        }
    }
}

@media (min-width: 1024px) {

    .footer {
        min-height: 18.5vh;
    }
}